@model IEnumerable<S00122876CA1.OrderDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Order details</h2>

<table class="table table-striped table-hover">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.Album.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Album.Artist.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Album.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Album.AlbumArtUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Album.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Album.Artist.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Album.Genre.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Album.AlbumArtUrl)
        </td>
         <td>
            @Html.ActionLink("Orders", "Index", "Home",null, new {@class="btn btn-info"})
        </td>
     @*   <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderDetailId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderDetailId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderDetailId })
        </td>*@
    </tr>
}

</table>
