@model PagedList.IPagedList<CustOrdersOrders_Result>
@using PagedList.Mvc

<div id="tblCustOrders">
    <table id="tblCustsOrders" class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th style="width:70%">@Html.DisplayNameFor(c => c.FirstOrDefault().ShipCity)</th>
                <th style="width:40%">@Html.DisplayNameFor(c => c.FirstOrDefault().OrderID)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cust in Model)
        {
        <tr>
            <td>
                @String.Format("{0:d}",cust.ShipCity)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => cust.OrderID)
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>

@Html.PagedListPager(Model, pg => Url.Action("CustOrders", new { id=@ViewBag.custId, page=pg}), 
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.MinimalWithItemCountText,
            new AjaxOptions { UpdateTargetId = "tblCustOrders", OnSuccess = "shrinkPageControls();" }))