@model PagedList.IPagedList<Employee>
@using PagedList.Mvc

<div id="tblCustOrders">
    <table id="tblCustsOrders" class="table table-striped">
        <thead>
            <tr>
                <th style="width:5%">@Html.DisplayNameFor(c => c.FirstOrDefault().EmployeeID)</th>
                <th style="width:25%">@Html.DisplayNameFor(c => c.FirstOrDefault().FirstName)</th>
                <th style="width:30%">@Html.DisplayNameFor(c => c.FirstOrDefault().Title)</th>
                <th style="width:30%">@Html.DisplayNameFor(c => c.FirstOrDefault().ReportsTo)</th>
                <th style="width:20%">@Html.DisplayNameFor(c => c.FirstOrDefault().Country)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ord in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => ord.EmployeeID)
            </td>
            <td>
               @String.Format("{0:d} {1:d}", ord.FirstName, ord.LastName)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => ord.Title)
            </td>
             <td>
                @Html.DisplayFor(modelItem => ord.ReportsTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ord.Country)
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>

@Html.PagedListPager(Model, pg => Url.Action("CustOrders", new { id=@ViewBag.custId, page=pg}), 
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.MinimalWithItemCountText,
            new AjaxOptions { UpdateTargetId = "tblCustOrders", OnSuccess = "shrinkPageControls();" }))